/Teoria/*
/.directory
/T1_GIT_Basico/Demo-05-tarea/logs/historia.log

/T2_Ramas/demo-06/*.log
/T2_Ramas/demo-06/node_modules/
/T2_Ramas/demo-06/.*

/T3_Stash_Rebase/demo-07/*.log
/T3_Stash_Rebase/demo-07/node_modules/
/T3_Stash_Rebase/demo-07/.*

/T3_Stash_Rebase/demo-08/*.log
/T3_Stash_Rebase/demo-08/node_modules/
/T3_Stash_Rebase/demo-08/.*

T4_GitHub_Remote_push&Pull/demo-09/*.log
T4_GitHub_Remote_push&Pull/demo-09/node_modules/
T4_GitHub_Remote_push&Pull/demo-09/demo-08/.*


